.shop__container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 50px 100px;
}
.products__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.cart__container {
  padding: 20px;
  background: rgba(255, 153, 0, 0.3);
  height: 100vh;
  position: sticky;
  top: 0;
  margin-left: 25px;
}
