.product {
  border: 1px solid gray;
  border-radius: 10px;
  position: relative;
}
.img__container img {
  width: 300px;
  height: 286px;
  border-radius: 10px;
  padding: 10px;
}
.img__container {
  width: 100%;
  margin: 10px 0;
}
.product__info {
  padding: 10px;
}
.product__name {
  margin-top: 0;
  margin-bottom: 20px;
}
.product__data {
  margin-top: 0;
  margin-bottom: 5px;
}
.product__btn {
  width: 100%;
  background-color: #ffe0b3;
  position: absolute;
  bottom: 0;
}
.product__btn:hover {
  background-color: orange;
}
