nav {
  background-color: #1c2b35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
}
nav a {
  margin-right: 20px;
  color: white;
}
nav a:hover {
  color: orange;
}
